@import 'vars.css';
@import 'PlayerView.css';
@import 'SliderView.css';
@import 'ToggleBarView.css';

#viewport > * {
  margin-top: var(--control-height);
}

#viewport > *:first-child {
  margin-top: 0;
}

#viewport {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#viewport.loading {
  pointer-events: none;
}
